table.gameboard { 
  border-spacing:40px 40px;
  border-collapse: separate;
  border: 10px rgb(15, 94, 58) solid; 
  margin-left: auto; 
  margin-right: auto;
  border-radius: 10px;
}
.gameboard td { 
  opacity: 1;
  font-family: arial, sans-serif; 
  font-size: 75px; 
  font-weight: bold; 
  text-align: center; 
  vertical-align: middle; 
  color: black; 
  background: rgb(56, 167, 195); 
  margin: 2px; padding: 6px; 
  border: 1px rgb(15, 202, 18) solid; 
  width: 100px;
  height: 100px;
  border-radius: 3px 6px;

  /*makes elements unselectable*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
td.clicked{ 
  background: rgb(221, 18, 18);
  opacity: 0.5;

  /*makes elements unselectable*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
td.found{
  background: rgb(121, 173, 38);
  opacity: 0.5;
  /*makes elements unselectable*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table.answerboardtable{
  border-spacing: 10px;
  font-family: arial, sans-serif; 
  font-size: 3em;
  border: 2px rgb(15, 94, 58) solid; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 25px;
  border-radius: 100px;
  text-align:center;
  width: 10em;
  height: 2em;
}
table.scoreboardtable
{
  border-spacing: 10px;
  font-family: arial, sans-serif; 
  font-size: 3em;
  border: 2px rgb(15, 94, 58) solid; 
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 100px;
  text-align:center;
  width: 10em;
  height: 2em;
}
#scoreboardtimer
{
  text-align: center;
  width: 250px;
}
#scoreboardtd
{
  text-align: center;
}



