table.gameboard 
{ 
  border-spacing:40px 40px;
  border-collapse: separate;
  border: 10px rgb(17, 17, 17) solid; 
  margin-left: auto; 
  margin-right: auto;
  border-radius: 10px;
}
.gameboard td 
{ 
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75px; 
  font-weight: bold; 
  text-align: center; 
  vertical-align: middle; 
  color: rgb(0, 0, 0); 
  background-image: url('woodtexture.jpg');
  margin: 2px; padding: 6px; 
  border: 2px rgb(14, 14, 14) solid; 
  width: 100px;
  height: 100px;
  border-radius: 3px 6px;

  /*makes elements unselectable*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
td.clicked
{ 
  background: rgb(221, 18, 18);
  opacity: 0.75;

  /*makes elements unselectable*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
td.found
{
  background: rgb(121, 173, 38);
  opacity: 0.75;
  /*makes elements unselectable*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table.answerboardtable
{
  border-spacing: 10px;
  font-family: arial, sans-serif; 
  font-weight: bold;
  font-size: 60px;
  border: 5px rgb(0, 0, 0) solid; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 25px;
  border-radius: 100px;
  text-align:center;
  width: 600px;
  height: 100px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table.scoreboardtable
{
  border-spacing: 10px;
  font-family: arial, sans-serif; 
  font-weight: bold;
  font-size: 3em;
  border: 5px rgb(0, 0, 0) solid; 
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 100px;
  text-align:center;
  width: 10em;
  height: 200px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#scoreboardtimer
{
  text-align: center;
  width: 250px;
}
#scoreboardtd
{
  text-align: center;
}
body
{
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 200px;
  background-position: center center;
}


